@model MyShop.Core.ViewModels.ProductListViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-12" style="background-color: white; padding-top: 20px; padding-bottom: 20px; border-radius: 3px;">
    <div class="col-md-2">
        <h4>Filter By Category</h4>
        <div class="list-group">
            @Html.ActionLink("All", "Index", null, new { @class = Request["Category"] == null ? "list-group-item active" : "list-group-item" })
            @foreach (var cat in Model.ProductCategories)
            {
                @Html.ActionLink(cat.Category, "Index", new { Category = cat.Category }, new { @class = Request["Category"] == cat.Category ? "list-group-item active" : "list-group-item" })
            }
        </div>
    </div>

    <div class="col-md-10" style="padding-top: 10px; padding-bottom: 10px;">
        @{
            Html.RenderPartial("HomePartial", Model);
        } 
        <br />
        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@

    </div>
</div>
